* {
    font: inherit;
}

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html {
    min-height: 100dvh;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    min-height: 200dvh;
    background-color: #ffffff;
}

.main {
    overflow-x: hidden;
}

/* * root */

:root {
    --container-max-width-medium: calc(1280px);
    --section-hero-padding: 100px 0;
    --container-padding-inline: 16px;
    --container-padding-top: 100px;
    --height-auto: 950px;
}

/* * visually-hidden */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: .0625rem;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* * container */

.container {
    max-width: var(--container-max-width-medium);
    margin-inline: auto;
    padding-inline: var(--container-padding-inline);
}

.header {
    backdrop-filter: blur(12px);
}

.header--fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* * nav */

.nav__container {
    display: flex;
    align-items: center;
}

.nav__start {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.nav__end {
    display: flex;
    flex: 1;
    gap: 40px;
    justify-content: flex-end;
    position: relative;
}

/* * section */

.section--hero {
    max-width: 100%;
    height: auto;
    transition: 1s ease;
    /* Добавляем плавный переход */
}



/* * info */

.container--hero {
    height: var(--height-auto);
    position: relative;
}

.section__content {
    display: flex;
    max-width: 624px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(/img/Rectangle\ 59.svg);
    background-size: cover;
    flex-direction: column;
    padding-top: 20px;
}

.section__title {
    max-width: 485px;
    width: 100%;
    padding: 10px 50px;
    max-height: 220px;
    font-weight: 400;
    font-size: 62px;
    color: #000;
}

.section__button {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button {
    padding: 10px 10px;
    max-width: 272px;
    width: 100%;
    background-color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    text-align: center;
    color: #f8f200;
    border: none;
}

/* * city */

.city__h1 {
    font-weight: 400;
    font-size: 62px;
    color: #000;
    padding-top: 80px;
}

.span {
    font-weight: 700;
    font-size: 18px;
    line-height: 189%;
    color: #52bedc;
}

.city__images {
    margin-top: 60px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.city__images__number {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-bottom: 32px;
}

.city__paragraph {
    max-width: 952px;
    font-weight: 400;
    color: #777;
    line-height: 189%;
    font-size: 18px;
}

/* * action */

.section--action {
    margin-top: 70px;
    background: url(../img/221.svg) no-repeat top, url(../img/222.svg) no-repeat bottom;
    background-color: #000000;
}

.section__action__header {
    display: flex;
    gap: 32px;
    align-items: flex-end;
    padding-top: 70px;
}

.section__action__header__h1 {
    font-weight: 400;
    font-size: 62px;
    color: #fff;
}

.section__action__paragraphs {
    max-width: 955px;
    margin-top: 30px;
    padding-bottom: 100px;
}

.section__action__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    color: #fff;
}

.section__action__forms {
    display: flex;
    padding-bottom: 100px;
}

.section__action__form__info__scrin {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.section__action__form {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    width: 100%;
}


.form {
    background-color: #000;
    border: none;
    border-bottom: 1px solid #aaa;
    color: #fff;
}

.section__action__form__info__scrin input::placeholder {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.section__action__scrin__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
    margin-top: 35px;
    border: 2px dashed rgb(255, 255, 255);
    /* 1 пиксельная рамка с точечным стилем и черным цветом */
    padding: 40px;
    /* добавление внутренних отступов в 20 пикселей */
}

.section__action__scrin__link {
    font-weight: 300;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.section__action__scrin__paragraph {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.section__action__button__first {
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    padding: 15px 50px;
    background: #f8f200;
    margin-top: 35px;
}

.section__action__form__link__info {
    padding-top: 15px;
}


.section__action__form__link {
    padding-top: 2px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.checkbox.checked path {
    display: none;
}

.section__action__header__image {
    display: flex;
    width: 100%;
    gap: 32px;
    justify-content: center
}

.section__action__header__image__one {
    max-width: 200px;
    width: 100%;
    background: url(/img/Layer521.svg) right no-repeat;
    background-size: 200px;
    padding-left: 20px;
}

.section__action__header__image__two {
    max-width: 200px;
    width: 100%;
    background: url(/img/layer531.svg) right no-repeat;
    background-size: 200px;
    padding-left: 20px;
}

.section__action__form__images {
    display: flex;
    width: 100%;
    margin-left: px;
}

.section__action__form__image__one {
    max-width: 460px;
    width: 100%;
    background: url(/img/layer5.svg) left no-repeat;
    background-size: 390px;
    padding-top: 25px;
    padding-left: 125px;
    padding-bottom: 80px;
}

.section__action__form__image__two {
    max-width: 460px;
    width: 100%;
    background: url(/img/layer6.svg) right no-repeat;
    background-size: 390px;
    padding-top: 25px;
    padding-left: 125px;
    padding-bottom: 80px;
}

.section__form__image__one {
    object-fit: cover;
    height: auto;
    width: 300px;
}

.section__form__image__two {
    object-fit: cover;
    height: auto;
    width: 300px;
}

/* * section--hp */

.section--hp {
    background-color: #f8f200;

}

.section__info__images {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}

.section__info__market__image {
    width: 624px;
}

.section__info__market__images {
    display: flex;
    margin-top: 25px;
    gap: 25px;
    padding-left: 45px;
}

.info__items--one {
    display: flex;
}

.section__info__market {
    display: flex;
    gap: 30px;
    padding-bottom: 70px;
}

.section__info__h1 {
    font-size: 62px;
    color: #000;
}

.section__info__paragraph {
    max-width: 624px;
    font-size: 18px;
    line-height: 189%;
    color: #000;
}

.section__info__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.section__info__link {
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.section__info__button {
    margin-top: 40px;
}

.section__info__button__more {
    background: #000;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #f8f200;
    padding: 15px 50px;
}

/* * section--footer */

.section--buy {
    background-color: #000;
    overflow: hidden;
    display: flex;
}

.container--buy {
    margin-inline: 0;
    padding-left: 35px;
}

.section__info__buy {
    padding-top: 70px;
}

.section__info__buy__h1 {
    font-size: 62px;
    color: #fff;
}

.section__info__complect {
    padding-top: 10px;
}

.section__info__complect__h2 {
    font-weight: 700;
    font-size: 24px;
    color: #52bedc;
}

.section__info__complect__link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 22px;
}

.section__info__complect__links {
    display: flex;
    gap: 5px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.section__info__platforms {
    margin-top: 70px;
    margin-bottom: 30px;
}

.section__info__complect__images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    max-width: 320px;
    grid-row-gap: 40px;
    padding-top: 25px;
}

.section__image__buy {
    object-fit: cover;
    width: 50%;
}

/* * footer */

.footer__top {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.footer__logos {
    display: flex;
    gap: 32px;
}

.footer__titles {
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer__title {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.footer__bottom {
    background-color: #000;
}

.footer__rules {
    padding: 13px 13px;
}

.footer__rule {
    font-size: 12px;
    text-align: center;
    color: #fff;
}



/* * container__grid */

.container--grid {
    display: grid;
    grid-template-columns: 400px 1fr 2fr;
    align-items: center;
}

/* * media */

@media screen and (min-width:1280px) {
    .br__h1__hero {
        display: none;
    }

    .br__h1__action {
        display: none;
    }
}

@media screen and (max-width:1280px) {
    .section__action__form__images {
        flex-direction: column;
    }

    .section__content {
        max-height: 320px;
        max-width: 530px;
    }

    .section__button {
        padding-top: 0;
    }

    .city__images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .city__images__number {
        flex-direction: row;
    }

    .br__h1__hero {
        display: block;
    }

    .section__action__header {
        flex-direction: column;
        align-items: flex-start;

    }

    .br__h1__action {
        display: block;
    }

    .container--city {
        display: flex;
        align-items: center;
    }

    .section__info__market__images {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    .container--footer {
        flex-direction: column;
    }

    .city__images__number {
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .city__image__one {
        height: 196px;
        background-size: contain;
    }

    .city__image__two {
        min-height: 320px;
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
    .nav__container {
        flex-direction: column;
    }

    .nav__end {
        gap: 20px;
    }

    .section__title {
        font-size: 45px;
    }

    .button {
        font-size: 16px;
    }

    .section__content {
        max-width: 400px;
        max-height: 240px;
        padding: 0;
    }

    .city__h1 {
        font-size: 40px;
    }

    .city__paragraph {
        font-size: 16px;
    }

    .city__images {
        gap: 0;
    }

    .section__action__form__images {
        display: none;
    }

    .container--grid {
        display: block;
    }

    .section__info__market {
        flex-direction: column;
    }

    .section__info__h1 {
        font-size: 40px;
    }

    .br__info {
        display: none;
    }

    .section__info__paragraph {
        font-size: 16px;
    }

    .info__link {
        font-size: 16px;
    }

    .section--buy {
        flex-direction: column;
    }

    .section__image__buy {
        width: auto;
    }

    .section__info__market__images {
        flex-direction: row;
        gap: 5px;
    }


}

@media screen and (min-width: 800px) {
    .section__action__header__image {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .info__but--h1 {
        font-size: 40px;
    }

    .section__info__complect__h2 {
        font-size: 20px;
    }

    .section__info__complect__links {
        font-size: 16px;
    }

    .section__info__image__hp {
        width: 40px;
        height: 40px;
    }

    .section__info__image__x {
        width: 50px;
        height: 10px;
    }

    .section__info__image__cyber {
        width: 175px;
        height: 45px;
    }
}

@media screen and (max-width: 400px) {
    .section__title {
        text-align: center;
        font-size: 30px;
    }

    .section__content {
        display: flex;
        align-items: center;
        max-height: 190px;
    }

    .section__button {
        padding-left: 0;
        padding-right: 0;
    }

    .button {
        font-size: 20px;
        line-height: 200%;
        text-align: center;
    }

    .city__h1 {
        font-size: 30px;
    }

    .city__paragraph {
        font-size: 16px;
    }

    .section__action__header__h1 {
        font-size: 30px;
    }

    .br__h1__action {
        display: none;
    }

    .section__action__paragraph {
        font-size: 16px;
    }

    .section__info__images {
        align-items: flex-start;
    }


}

@media screen and (max-width: 450px) {
    .action__header__image__one {
        background-size: 150px;
    }

    .action__header__image__two {
        background-size: 150px;
    }

    .footer__logos {
        flex-direction: column;
        align-items: center;
    }

    .footer__titles {
        flex-direction: column;
    }
}